<div appDrag=".cdk-overlay-pane">
    <app-item-frame [item]="data.item" [language]="data.language" [queryItem]="queryItem"
        (queryItemChange)="onQueryItemChange($event)" [separator]="true"
        [modifierMinRange]="data.settings.evaluateModifierMinRange / 100"
        [modifierMaxRange]="data.settings.evaluateModifierMaxRange / 100"
        [propertyMinRange]="data.settings.evaluatePropertyMinRange / 100"
        [propertyMaxRange]="data.settings.evaluatePropertyMaxRange / 100"
        [opacity]="data.settings.dialogOpacity">
        <ng-container *ngIf="(currencies$ | async) as currencies; else loading">
            <app-evaluate-options [options]="options" (optionsChange)="onOptionsChange($event)" (resetTrigger)="onReset()">
            </app-evaluate-options>
            <app-evaluate-exchange-rate [options]="options" [optionsChange]="optionsChange" [item]="data.item"
                [currencies]="currencies" (evaluateResult)="onEvaluateResult($event)"> </app-evaluate-exchange-rate>
            <app-item-frame-separator [item]="data.item"> </app-item-frame-separator>
            <app-evaluate-search *ngIf="init$ | async; else loading" [options]="options" [settings]="data.settings"
                [queryItem]="queryItem" [queryItemChange]="queryItemChange" [currencies]="currencies"
                (evaluateResult)="onEvaluateResult($event)">
            </app-evaluate-search>
        </ng-container>
        <ng-template #loading>
            <div> {{'evaluate.loading' | translate}} </div>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>           
        </ng-template>
    </app-item-frame>
</div>