<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <app-item-frame [item]="data.item" [language]="data.language" [queryItem]="queryItem"
        (queryItemChange)="onQueryItemChange($event)" [separator]="true"
        [modifier]="data.settings.evaluateModifierRange / 100"
        [modifierMaxRange]="!data.settings.evaluateModifierDisableMaxRange">
        <ng-container *ngIf="(currencies$ | async) as currencies">
            <app-evaluate [item]="data.item" [currencies]="currencies"></app-evaluate>
            <app-item-frame-separator [item]="data.item"></app-item-frame-separator>
            <app-evaluate-search [settings]="data.settings" [defaultItem]="defaultItem" [queryItem]="queryItem"
                [queryItemChange]="queryItemChange" [currencies]="currencies" (update)="onQueryItemChange($event)">
            </app-evaluate-search>
        </ng-container>
    </app-item-frame>
</div>