<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <app-item-frame [item]="data.item" [language]="data.language" [queryItem]="queryItem"
        (queryItemChange)="onQueryItemChange($event)" [separator]="true">
        <ng-container [ngSwitch]="result$ | async">
            <ng-container *ngSwitchCase="null">
                Loading...
            </ng-container>
            <ng-container *ngSwitchDefault>
                <ng-container *ngIf="(result$ | async) as result">
                    <ng-container *ngIf="result.items && result.items.length > 0">
                        <div class="clickable" (click)="onCurrencyClick()">
                            <app-currency-frame [amount]="result.targetCurrencyAvg" [currency]="result.targetCurrency">
                            </app-currency-frame>
                        </div>
                        <app-evaluate-chart [result]="result"></app-evaluate-chart>
                    </ng-container>
                    <ng-container *ngIf="result.items && result.items.length === 0">
                        <div class="clickable" (click)="onCurrencyClick()">
                            No matching items found.
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!result.items">
                        An unexpected error occured.
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </app-item-frame>
</div>