@import "./../../../../styles/variables";

$label-color: rgba(200, 200, 200, 0.54);

label {
    display: block;
    color: $label-color;
    font-size: 12px;
    transform: perspective(100px) translateZ(0.001px);
}

.value-range {
    > .slider {
        display: flex;
        align-items: center;
        justify-content: center;

        .mat-slider {
            width: 100%;
        }
    }
}
