@import "../../../../../styles/variables";

.wrapper {
  position: relative;
  display: flex;

  button {
    margin-left: $gutter-half;
    width: 120px;

    &.small {
      padding: 0;
      width: 50px;
    }
  }
}

.records {
  position: absolute;
  z-index: 2000;
  top: 35px;
  left: 0;
  right: 0;
  background: $black;
  border: 1px solid $brown;
}

.record {
  padding: $gutter $gutter * 2;
  cursor: pointer;

  &:hover {
    background: $light-brown;
  }
}
