@import "../../../../../styles/variables";

::ng-deep {
  app-trade-message {
    display: block;

    & + app-trade-message {
      margin-top: $gutter-half;
    }
  }
}

.message {
  display: flex;
  border-left: 5px solid;

  &.incoming {
    border-color: red;
  }

  &.outgoing {
    border-color: lightgreen;
  }
}

.content {
  background: $black-transparent;
  padding: 0 $gutter-half * 2;
  width: 300px;
  justify-content: center;
}

.content,
.actions {
  display: flex;
  flex-direction: row;
}

.actions {
  align-items: center;
}
