<ng-container *ngIf="(result$ | async) as result; else loading">
    <ng-container *ngIf="result.evaluate !== undefined; else notfound">
        <div class="evaluate" (wheel)="onEvaluateWheel($event)">
            <div class="factors">
                <div *ngIf="(inverse$ | async) === false; else inverse">
                    <div class="factor">
                        <span class="amount">1.00&nbsp;</span>
                        <mat-icon class="clickable switch" title="switch amount"
                            (click)="inverse$.next(!inverse$.value)">compare_arrows
                        </mat-icon>
                        <span class="currency">
                            <app-currency-frame [amount]="result.evaluate.amount" [currency]="result.evaluate.currency">
                            </app-currency-frame>
                        </span>
                    </div>
                </div>
                <ng-template #inverse>
                    <div class="factor">
                        <span class="amount">{{result.evaluate.inverseAmount | number:'1.2-2'}}&nbsp;</span>
                        <mat-icon class="clickable switch" title="switch amount"
                            (click)="inverse$.next(!inverse$.value)">compare_arrows
                        </mat-icon>
                        <span class="currency">
                            <app-currency-frame [amount]="1" [currency]="result.evaluate.currency">
                            </app-currency-frame>
                        </span>
                    </div>
                </ng-template>
            </div>
            <div class="spacer"></div>
            <div class="chart">
                <div class="values">
                    <span class="value" [class.negative]="result.evaluate.change < 0"
                        [class.positive]="result.evaluate.change > 0">
                        <mat-icon *ngIf="result.evaluate.change < 0">trending_down</mat-icon>
                        <mat-icon *ngIf="result.evaluate.change === 0">trending_flat</mat-icon>
                        <mat-icon *ngIf="result.evaluate.change > 0">trending_up</mat-icon>
                        <span> {{result.evaluate.change}}%</span>
                    </span>
                    <span class="info">Last 7 days</span>
                </div>
                <div>
                    <app-evaluate-area-chart [result]="result.evaluate" [inverse]="inverse$ | async">
                    </app-evaluate-area-chart>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #notfound>
        <div> No matching data found. </div>
    </ng-template>
    <ng-container *ngIf="result.error">
        <div> An unexpected error occured. </div>
    </ng-container>
</ng-container>
<ng-template #loading>
    <div> Loading... </div>
</ng-template>