::ng-deep {
  .map-frame {
    .purpel,
    .blue {
      color: #d20000 !important;
    }
  }
}

.white {
  color: #fff;
}

.description {
  max-width: 400px;
  white-space: normal;

  .bosses {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
