<div class="market-row">
    <div class="market-col">
        <app-market-input-range label="Quality" path="misc_filters.filters.quality" [request]="request">
        </app-market-input-range>
    </div>
    <div class="market-col">
        <app-market-input-range label="Gem Level" path="misc_filters.filters.gem_level" [request]="request">
        </app-market-input-range>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-range label="Item Level" path="misc_filters.filters.ilvl" [request]="request">
        </app-market-input-range>
    </div>
    <div class="market-col">
        <app-market-input-range label="Gem Experience" path="misc_filters.filters.gem_level_progress"
            [request]="request">
        </app-market-input-range>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-boolean label="Shaper Influence" path="misc_filters.filters.shaper_item" [request]="request">
        </app-market-input-boolean>
    </div>
    <div class="market-col">
        <app-market-input-boolean label="Elder Influence" path="misc_filters.filters.elder_item" [request]="request">
        </app-market-input-boolean>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-boolean label="Crusader Influence" path="misc_filters.filters.crusader_item"
            [request]="request">
        </app-market-input-boolean>
    </div>
    <div class="market-col">
        <app-market-input-boolean label="Redeemer Influence" path="misc_filters.filters.redeemer_item"
            [request]="request">
        </app-market-input-boolean>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-boolean label="Hunter Influence" path="misc_filters.filters.hunter_item" [request]="request">
        </app-market-input-boolean>
    </div>
    <div class="market-col">
        <app-market-input-boolean label="Warlord Influence" path="misc_filters.filters.warlord_item"
            [request]="request">
        </app-market-input-boolean>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-boolean label="Fractured Influence" path="misc_filters.filters.fractured_item"
            [request]="request">
        </app-market-input-boolean>
    </div>
    <div class="market-col">
        <app-market-input-boolean label="Synthesised Influence" path="misc_filters.filters.synthesised_item"
            [request]="request">
        </app-market-input-boolean>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-boolean label="Alternate Art" path="misc_filters.filters.alternate_art" [request]="request">
        </app-market-input-boolean>
    </div>
    <div class="market-col">
        <app-market-input-boolean label="Identified" path="misc_filters.filters.identified" [request]="request">
        </app-market-input-boolean>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-boolean label="Corrupted" path="misc_filters.filters.corrupted" [request]="request">
        </app-market-input-boolean>
    </div>
    <div class="market-col">
        <app-market-input-boolean label="Mirrored" path="misc_filters.filters.mirrored" [request]="request">
        </app-market-input-boolean>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-boolean label="Crafted" path="misc_filters.filters.crafted" [request]="request">
        </app-market-input-boolean>
    </div>
    <div class="market-col">
        <app-market-input-boolean label="Veiled" path="misc_filters.filters.veiled" [request]="request">
        </app-market-input-boolean>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-boolean label="Enchanted" path="misc_filters.filters.enchanted" [request]="request">
        </app-market-input-boolean>
    </div>
    <div class="market-col">
        <app-market-input-range label="Talisman Tier" path="misc_filters.filters.talisman_tier" [request]="request">
        </app-market-input-range>
    </div>
</div>