@import "./../../../../../../styles/variables";

.content {
  display: inline-flex;
  justify-content: center;
  line-height: 32px;
  height: 32px;

  .amount {
    color: $light-grey;
  }

  img {
    height: 32px;
  }

  .currency {
    display: inline-flex;
  }
}
