<div class="options">
    <mat-icon class="clickable" (click)="options$.next(!options$.value)">filter_list</mat-icon>
    <div class="popover" *ngIf="options$ | async">
        <ng-container *ngIf="online$ | async; else offline">
            <span class="clickable" title="online" (click)="onToggleOnlineClick()">
                <mat-icon>wifi</mat-icon>
            </span>
        </ng-container>
        <ng-template #offline>
            <span class="clickable" title="offline" (click)="onToggleOnlineClick()">
                <mat-icon>wifi_off</mat-icon>
            </span>
        </ng-template>
        <ng-container *ngIf="indexed$ | async as indexed">
            <span class="indexed" (wheel)="onIndexedWheel($event)">
                {{indexed}}
            </span>
        </ng-container>
        <span class="clickable" title="reset" (click)="onResetClick()">
            <mat-icon>restore</mat-icon>
        </span>
    </div>
</div>
<ng-container *ngIf="(result$ | async) as result; else loading">
    <ng-container *ngIf="result.items && result.items.length > 0">
        <div class="clickable" (click)="onCurrencyClick($event)"
            title="'Click' = In-Game Browser, 'CTRL + Click' Default Browser">
            <div>
                <app-currency-frame label="Mean" [amount]="result.targetCurrencyMean">
                </app-currency-frame>
                <app-currency-frame label="Median" [amount]="result.targetCurrencyMedian">
                </app-currency-frame>
                <app-currency-frame label="Mode" [amount]="result.targetCurrencyMode">
                </app-currency-frame>
            </div>
            <div>
                <app-currency-frame label="Min" [amount]="result.targetCurrencyMin">
                </app-currency-frame>
                <app-currency-frame label="Max" [amount]="result.targetCurrencyMax" [currency]="result.targetCurrency">
                </app-currency-frame>
            </div>
        </div>
        <app-evaluate-chart [result]="result" (amountSelect)="onAmountSelect($event)"></app-evaluate-chart>
    </ng-container>
    <ng-container *ngIf="result.items && result.items.length === 0">
        <div class="clickable" (click)="onCurrencyClick($event)"
            title="'Click' = In-Game Browser, 'CTRL + Click' Default Browser">
            No matching items found.
        </div>
    </ng-container>
    <ng-container *ngIf="!result.items">
        <div> An unexpected error occured. </div>
    </ng-container>
</ng-container>
<ng-template #loading>
    <div> Loading... </div>
</ng-template>