@import "./../../../../../styles/variables";

.tools {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 360px;

  > span {
    display: flex;
  }

  > .spacer {
    flex-grow: 1;
  }
}

.active {
  color: $light-grey;
  background-color: rgba(170, 158, 130, 0.3);
  outline-style: solid;
  outline-width: 1px;
}

.delayed {
  opacity: 0;
  animation: reveal 300ms 700ms forwards;
}

@keyframes reveal {
  to {
    opacity: 1;
  }
}

::ng-deep {
  app-evaluate-search {
    .values {
      &:hover {
        app-currency-frame {
          .currency {
            background-color: rgba(170, 158, 130, 0.3);
            outline-style: solid;
            outline-width: 1px;
          }
        }
      }
    }
  }
}
