@import "../../../../../styles/variables";

.tab-content {
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  height: 100%;

  .tab-inner-content {
    margin-right: $gutter-half;
  }
}

.items {
  height: calc(100% - 39px);
}

.filters {
  margin-top: $gutter;
}
