<div [class]="'frame ' + (item.rarity || '')">

    <div class="header" [class.double]="item.name && item.type">
        <div class="name" *ngIf="item.name">
            {{item.name}}
        </div>
        <div class="name" *ngIf="item.type">
            {{item.type}}
        </div>
    </div>

    <div class="detail">
        <!-- properties -->
        <ng-container *ngIf="item.properties && item.properties.length > 0">
            <div *ngFor="let property of item.properties">
                <span>{{property.text}}</span>
                <span *ngIf="property.value" [class]="property.augmented ? 'purpel' : 'white'">&nbsp;{{property.value}}</span>
            </div>
            <div class="separator"></div>
        </ng-container>

        <!-- requirements -->
        <ng-container *ngIf="item.requirements">
            <div>
                Requires
                <ng-container *ngIf="item.requirements.level">
                    <span>Level&nbsp;</span>
                    <span class="white">{{item.requirements.level}}</span>
                    <span *ngIf="item.requirements.str || item.requirements.dex || item.requirements.int">,&nbsp;</span>
                </ng-container>
                <ng-container *ngIf="item.requirements.str">
                    <span class="white">{{item.requirements.str}}&nbsp;</span>
                    <span>Str</span>
                    <span *ngIf="item.requirements.dex || item.requirements.int">,&nbsp;</span>
                </ng-container>
                <ng-container *ngIf="item.requirements.dex">
                    <span class="white">{{item.requirements.dex}}&nbsp;</span>
                    <span>Dex</span>
                    <span *ngIf="item.requirements.int">,&nbsp;</span>
                </ng-container>
                <ng-container *ngIf="item.requirements.int">
                    <span class="white">{{item.requirements.int}}&nbsp;</span>
                    <span>Int</span>
                </ng-container>
            </div>
            <div class="separator"></div>
        </ng-container>

        <ng-container *ngIf="item.secondaryDescription">
            <div class="secondary-description">
                {{item.secondaryDescription}}
            </div>
            <div class="separator"></div>
        </ng-container>

        <ng-container *ngIf="item.implicits && item.implicits.length > 0">
            <div *ngFor="let implicit of item.implicits" class="implicit">
                <span>{{implicit.text}}</span>
            </div>
            <div class="separator"></div>
        </ng-container>

        <ng-container *ngIf="item.explicits && item.explicits.length > 0">
            <div *ngFor="let explicit of item.explicits" class="explicit">
                <span>{{explicit.text}}</span>
            </div>
            <div class="separator"></div>
        </ng-container>

        <!-- additional-properties TODO: if needed
            <div>
                <span class="white">5,669,115/13,437,908</span>
            </div>
            <div class="separator"></div>
        -->

        <ng-container *ngIf="item.description">
            <div class="description" [innerHTML]="item.description">
            </div>
        </ng-container>

        <div class="separator" *ngIf="separator"></div>
        <ng-content></ng-content>
    </div>
</div>