@import "./../../../../../../styles/variables";

.purpel {
  color: $purple;
}

.blue {
  color: $blue;
}

::ng-deep {
  app-item-frame-stats {
    .cold {
      .value,
      .value.changed {
        color: #366492;
      }
    }

    .lightning {
      .value,
      .value.changed {
        color: #ffd700;
      }
    }

    .chaos {
      .value,
      .value.changed {
        color: #d02090;
      }
    }

    .fire {
      .value,
      .value.changed {
        color: #960000;
      }
    }
  }
}
