@import "./../../../../../../styles/variables";

.purpel {
  color: $purple;
}

.blue {
  color: $blue;
}

::ng-deep {
  app-item-frame-stats {
    .cold {
      .value,
      .value.changed {
        color: $aqua;

        .text {
          color: $aqua !important;
        }
      }
    }

    .lightning {
      .value,
      .value.changed {
        color: $yellow;

        .text {
          color: $yellow !important;
        }
      }
    }

    .chaos {
      .value,
      .value.changed {
        color: $pink;

        .text {
          color: $pink !important;
        }
      }
    }

    .fire {
      .value,
      .value.changed {
        color: $red;

        .text {
          color: $red !important;
        }
      }
    }
  }
}
