<div class="item">
    <div class="value left">
        <app-trade-static-frame [count]="count1" [id]="type1" [reverse]="true" [medium]="true">
        </app-trade-static-frame>
        <div class="rate">
            <app-trade-static-frame [count]="1" [id]="type1" [reverse]="true" [small]="true">
            </app-trade-static-frame>
            <span>&nbsp;≈&nbsp;</span>
            <app-trade-static-frame [amount]="count2 / count1" [id]="type2" [small]="true">
            </app-trade-static-frame>
        </div>
    </div>
    <app-trade-message-direction></app-trade-message-direction>
    <div class="value">
        <app-trade-static-frame [count]="count2" [id]="type2" [medium]="true">
        </app-trade-static-frame>
        <div class="rate">
            <app-trade-static-frame [count]="1" [id]="type2" [reverse]="true" [small]="true">
            </app-trade-static-frame>
            <span>&nbsp;≈&nbsp;</span>
            <app-trade-static-frame [amount]="count1 / count2" [id]="type1" [small]="true">
            </app-trade-static-frame>
        </div>
    </div>
</div>