@import "../../../../../styles/variables";

::ng-deep {
  html,
  body {
    height: 100%;
    color: $light-white;
    font-size: 14.3px;
    font-family: FontinSmallCaps;
  }

  ::-webkit-scrollbar {
    width: 14px;
    background: $black-transparent;
    border: 1px $black solid;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      90deg,
      rgba(84, 81, 70, 1) 0%,
      rgba(49, 24, 8, 1) 10%,
      rgba(118, 44, 18, 1) 90%,
      rgba(121, 115, 105, 1) 100%
    );
    border: 1px $light-brown solid;
    border-radius: 3px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}
