mat-form-field {
  width: 100%;
}

mat-label {
  display: block;
}

app-card {
  padding-bottom: 12px;

  mat-card {
    > div {
      > mat-label {
        margin-bottom: 12px;
      }
    }
  }
}

.mat-form-field-prefix .mat-icon,
.mat-form-field-suffix .mat-icon {
  vertical-align: middle;
}

.mat-slide-toggle {
  margin-bottom: 12px;
}

.mat-tab-labels {
  > .mat-tab-label {
    min-width: auto;
  }
}
