/* poe */

$pseudo: #232420;
$implicit: #65621e;
$crafted: #0060bf;
$enchant: #8b579c;
$fractured: #a29162;
$monster: #bd1818;
$delve: #ad631b;

$purple: #88f;
$blue: #b4b4ff;
$yellow: #ff7;
$orange: #af6025;
$brown: #88623b;
$light-brown: #545146;
$light-orange: #aa9e82;
$light-white: #fff8e1;
$red: #e63244;
$pink: #e745ad;
$aqua: #1ba29b;
$river: #3498db;
$emerald: #2ecc71;
$lime: #32cd32;
$black-transparent: rgba(0, 0, 0, 0.6);

/* colors */

$white: #fff;
$light-grey: #c8c8c8;
$light-dark-grey: #7f7f7f;
$dark-grey: #1c1c1c;
$black: #000;

$gutter: 6px;
$gutter-half: $gutter / 2;

$label-color: rgba(200, 200, 200, 0.54);
