/* poe */

$pseudo: #232420;
$implicit: #65621e;
$crafted: #0060bf;
$enchant: #8b579c;
$fractured: #a29162;

$purple: #88f;
$blue: #b4b4ff;
$yellow: #ff7;
$orange: #af6025;
$light-orange: #aa9e82;
$red: #e63244;
$aqua: #1ba29b;
$black-transparent: rgba(0,0,0,0.8);

/* colors */

$white: #fff;
$light-grey: #c8c8c8;
$light-dark-grey: #7f7f7f;
$black: #000;