@import "../../../../../../../styles/variables";

.frame {
  background: rgba(0, 0, 0, 0.8);
  color: $light-dark-grey;
  text-align: center;
  font-style: 14.3px;
  font-family: FontinSmallCaps;

  .detail {
    position: relative;
    white-space: pre;
  }

  .inner {
    position: relative;
  }

  .inner,
  .outer {
    padding: 2px;
    min-width: 396px;
  }
}
