<button class="poe-control poe-button" (click)="onExecute($event)"
    [title]="('trade.action.' + action | translate) + title">
    <ng-container [ngSwitch]="action">
        <mat-icon *ngSwitchCase="'invite'">how_to_reg</mat-icon>
        <mat-icon *ngSwitchCase="'wait'">pan_tool</mat-icon>
        <mat-icon *ngSwitchCase="'item-gone'">not_interested</mat-icon>
        <mat-icon *ngSwitchCase="'resend'">replay</mat-icon>
        <mat-icon *ngSwitchCase="'trade'">sync_alt</mat-icon>
        <mat-icon *ngSwitchCase="'item-highlight'">visibility</mat-icon>
        <mat-icon *ngSwitchCase="'whisper'">chat</mat-icon>
        <mat-icon *ngSwitchCase="'finished'">done</mat-icon>
        <mat-icon *ngSwitchCase="'dismiss'">close</mat-icon>
        <mat-icon *ngSwitchCase="'interested'">hearing</mat-icon>
        <mat-icon *ngSwitchCase="'hideout'">exit_to_app</mat-icon>
        <mat-icon *ngSwitchCase="'whois'">person_search</mat-icon>
    </ng-container>
</button>