@import "../../../../../../../styles/variables";

$height: 32px;

.content {
  display: inline-flex;
  justify-content: center;
  line-height: $height;
  height: $height;

  .amount {
    color: $light-grey;
  }

  .currency {
    display: inline-flex;

    > img {
      height: $height;
    }
  }
}
