@import "../../../../../styles/variables";

.factor {
  display: flex;
  align-items: center;

  .amount-column {
    display: flex;
    flex-direction: column;

    .amount {
      color: $light-grey;
      line-height: 15px;
    }
  }
}
