<ng-container *ngIf="window$ | async as name">
    <ng-container [ngSwitch]="name">
        <app-background-window *ngSwitchCase="'background'"></app-background-window>
        <app-evaluate-window *ngSwitchCase="'evaluate'"></app-evaluate-window>
        <app-inspect-window *ngSwitchCase="'inspect'"></app-inspect-window>
        <app-settings-window *ngSwitchCase="'settings'"></app-settings-window>
        <app-notification-window *ngSwitchCase="'notification'"></app-notification-window>
        <app-market-window *ngSwitchCase="'market'"></app-market-window>
        <app-replay-window *ngSwitchCase="'replay'"></app-replay-window>
        <app-launcher-window *ngSwitchCase="'launcher'"></app-launcher-window>
        <app-annotation-window *ngSwitchCase="'annotation'"></app-annotation-window>
        <app-trade-window *ngSwitchCase="'trade'"></app-trade-window>
        <app-trade-highlight-window *ngSwitchCase="'tradehighlight'"></app-trade-highlight-window>
        <div *ngSwitchDefault>Could not match window with name: {{name}}</div>
    </ng-container>
</ng-container>