.card {
  position: relative;

  .remove {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

.url {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  > .first {
    width: 75%;
    padding-right: 15px;
  }

  > .second {
    width: 25%;
    text-align: center;
  }
}
