<div class="row">
    <div class="col-md-6" *ngFor="let bookmark of settings.bookmarks; let index = index">
        <mat-card class="card">
            <button class="remove" mat-icon-button (click)="onRemoveClick(index)">
                <mat-icon>close</mat-icon>
            </button>
            <div class="row align-items-center">
                <div class="col-8">
                    <mat-form-field>
                        <mat-label>{{'bookmark.url' | translate}}</mat-label>
                        <input matInput [(ngModel)]="bookmark.url">
                    </mat-form-field>
                </div>
                <div class="col-4 text-center">
                    <mat-slide-toggle [checked]="bookmark.external" (change)="bookmark.external = $event.checked">
                        {{'bookmark.external' | translate}}
                    </mat-slide-toggle>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-accelerator [label]="'app.shortcut' | translate" [(value)]="bookmark.shortcut">
                    </app-accelerator>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card>
            <div align="center">
                <button mat-button (click)="onAddClick()">{{'bookmark.add' | translate}}</button>
            </div>
        </mat-card>
    </div>
</div>