.separator {
  height: 2px;
  width: 220px;
  margin: 3px auto;

  &.normal,
  &.divinationcard {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(4, 3, 3, 0.04) 6%,
      rgba(5, 4, 4, 0.06) 7%,
      rgba(13, 11, 9, 0.12) 11%,
      rgba(17, 15, 12, 0.17) 13%,
      rgba(36, 30, 25, 0.31) 19%,
      rgba(39, 33, 27, 0.35) 20%,
      rgba(65, 55, 45, 0.64) 27%,
      rgba(69, 58, 48, 0.67) 28%,
      rgba(73, 62, 51, 0.72) 30%,
      rgba(80, 68, 56, 0.78) 33%,
      rgba(86, 72, 59, 0.87) 38%,
      rgba(89, 75, 61, 0.9) 41%,
      rgba(89, 75, 61, 0.93) 45%,
      rgba(88, 75, 62, 0.93) 51%,
      rgba(90, 77, 63, 0.93) 54%,
      rgba(90, 77, 63, 0.93) 55%,
      rgba(86, 73, 59, 0.87) 63%,
      rgba(86, 73, 59, 0.85) 64%,
      rgba(83, 71, 57, 0.8) 66%,
      rgba(80, 68, 55, 0.76) 68%,
      rgba(70, 60, 49, 0.68) 72%,
      rgba(68, 58, 48, 0.64) 73%,
      rgba(34, 29, 25, 0.31) 82%,
      rgba(30, 26, 22, 0.28) 83%,
      rgba(15, 13, 10, 0.14) 88%,
      rgba(6, 5, 5, 0.06) 93%,
      rgba(4, 4, 4, 0.03) 95%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &.magic {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(3, 2, 5, 0.04) 6%,
      rgba(10, 8, 16, 0.12) 11%,
      rgba(13, 10, 21, 0.17) 13%,
      rgba(27, 20, 44, 0.31) 19%,
      rgba(51, 39, 86, 0.64) 27%,
      rgba(54, 41, 91, 0.67) 28%,
      rgba(58, 43, 97, 0.72) 30%,
      rgba(63, 47, 107, 0.78) 33%,
      rgba(69, 51, 116, 0.87) 38%,
      rgba(71, 52, 120, 0.89) 40%,
      rgba(74, 55, 121, 0.93) 45%,
      rgba(75, 56, 121, 0.93) 46%,
      rgba(73, 56, 120, 0.93) 51%,
      rgba(75, 55, 122, 0.93) 54%,
      rgba(74, 55, 121, 0.93) 55%,
      rgba(69, 51, 117, 0.87) 63%,
      rgba(65, 49, 110, 0.8) 66%,
      rgba(63, 47, 106, 0.76) 68%,
      rgba(56, 42, 93, 0.68) 72%,
      rgba(54, 41, 90, 0.64) 73%,
      rgba(29, 22, 48, 0.35) 81%,
      rgba(27, 20, 44, 0.31) 82%,
      rgba(13, 9, 21, 0.14) 88%,
      rgba(3, 2, 5, 0.03) 95%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &.rare {
    background: linear-gradient(
      to right,
      rgba(1, 0, 0, 0) 0%,
      rgba(6, 4, 2, 0.03) 5%,
      rgba(9, 6, 3, 0.04) 6%,
      rgba(22, 16, 7, 0.12) 11%,
      rgba(24, 18, 8, 0.14) 12%,
      rgba(55, 40, 18, 0.31) 19%,
      rgba(105, 76, 33, 0.64) 27%,
      rgba(111, 81, 35, 0.67) 28%,
      rgba(118, 87, 37, 0.72) 30%,
      rgba(129, 95, 40, 0.78) 33%,
      rgba(139, 102, 43, 0.87) 38%,
      rgba(143, 105, 44, 0.89) 40%,
      rgba(144, 106, 45, 0.93) 45%,
      rgba(145, 107, 46, 0.93) 47%,
      rgba(143, 105, 46, 0.93) 48%,
      rgba(145, 107, 46, 0.93) 54%,
      rgba(145, 107, 46, 0.93) 55%,
      rgba(143, 105, 44, 0.89) 60%,
      rgba(138, 101, 43, 0.87) 63%,
      rgba(133, 97, 41, 0.8) 66%,
      rgba(129, 94, 40, 0.76) 68%,
      rgba(114, 84, 36, 0.68) 72%,
      rgba(110, 81, 35, 0.64) 73%,
      rgba(64, 47, 21, 0.38) 80%,
      rgba(54, 40, 18, 0.31) 82%,
      rgba(44, 32, 15, 0.25) 84%,
      rgba(24, 17, 8, 0.14) 88%,
      rgba(6, 5, 2, 0.03) 95%,
      rgba(1, 0, 0, 0) 100%
    );
  }

  &.unique {
    background: linear-gradient(
      to right,
      rgba(1, 0, 0, 0) 0%,
      rgba(6, 3, 2, 0.03) 5%,
      rgba(9, 4, 3, 0.04) 6%,
      rgba(22, 11, 7, 0.12) 11%,
      rgba(24, 12, 8, 0.14) 12%,
      rgba(47, 24, 16, 0.26) 17%,
      rgba(59, 30, 19, 0.31) 19%,
      rgba(105, 53, 33, 0.64) 27%,
      rgba(111, 56, 35, 0.67) 28%,
      rgba(120, 60, 38, 0.72) 30%,
      rgba(128, 64, 40, 0.76) 32%,
      rgba(139, 70, 43, 0.87) 38%,
      rgba(143, 72, 44, 0.89) 40%,
      rgba(145, 74, 46, 0.93) 45%,
      rgba(145, 74, 46, 0.93) 46%,
      rgba(144, 73, 45, 0.93) 55%,
      rgba(143, 72, 44, 0.89) 60%,
      rgba(138, 69, 43, 0.87) 63%,
      rgba(133, 67, 41, 0.8) 66%,
      rgba(129, 65, 40, 0.76) 68%,
      rgba(114, 58, 36, 0.68) 72%,
      rgba(110, 56, 35, 0.64) 73%,
      rgba(52, 27, 17, 0.31) 82%,
      rgba(46, 24, 15, 0.28) 83%,
      rgba(24, 12, 8, 0.14) 88%,
      rgba(6, 3, 2, 0.03) 95%,
      rgba(1, 0, 0, 0) 100%
    );
  }

  &.currency {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(5, 4, 3, 0.04) 6%,
      rgba(6, 5, 4, 0.06) 7%,
      rgba(15, 14, 10, 0.12) 11%,
      rgba(17, 16, 11, 0.14) 12%,
      rgba(41, 37, 28, 0.31) 19%,
      rgba(44, 40, 30, 0.35) 20%,
      rgba(74, 68, 49, 0.64) 27%,
      rgba(78, 72, 52, 0.67) 28%,
      rgba(83, 76, 55, 0.72) 30%,
      rgba(91, 83, 60, 0.78) 33%,
      rgba(98, 90, 65, 0.87) 38%,
      rgba(101, 93, 67, 0.89) 40%,
      rgba(102, 94, 68, 0.93) 45%,
      rgba(104, 96, 69, 0.93) 54%,
      rgba(104, 96, 69, 0.93) 55%,
      rgba(101, 93, 67, 0.89) 60%,
      rgba(97, 89, 64, 0.87) 63%,
      rgba(93, 85, 62, 0.8) 66%,
      rgba(90, 83, 60, 0.76) 68%,
      rgba(80, 73, 53, 0.68) 72%,
      rgba(77, 71, 51, 0.64) 73%,
      rgba(45, 41, 30, 0.38) 80%,
      rgba(38, 35, 26, 0.31) 82%,
      rgba(18, 16, 12, 0.14) 88%,
      rgba(6, 6, 4, 0.06) 93%,
      rgba(4, 4, 3, 0.03) 95%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &.gem {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(3, 4, 4, 0.04) 6%,
      rgba(3, 5, 5, 0.06) 7%,
      rgba(8, 14, 13, 0.12) 11%,
      rgba(10, 18, 17, 0.17) 13%,
      rgba(20, 38, 35, 0.31) 19%,
      rgba(38, 73, 68, 0.64) 27%,
      rgba(40, 77, 72, 0.67) 28%,
      rgba(43, 83, 77, 0.72) 30%,
      rgba(46, 88, 82, 0.76) 32%,
      rgba(50, 96, 90, 0.87) 38%,
      rgba(51, 99, 92, 0.89) 40%,
      rgba(52, 100, 93, 0.93) 45%,
      rgba(53, 100, 94, 0.93) 47%,
      rgba(52, 99, 93, 0.93) 55%,
      rgba(51, 99, 92, 0.89) 60%,
      rgba(49, 95, 89, 0.87) 63%,
      rgba(47, 91, 85, 0.8) 66%,
      rgba(46, 88, 83, 0.76) 68%,
      rgba(41, 78, 73, 0.68) 72%,
      rgba(40, 76, 71, 0.64) 73%,
      rgba(20, 37, 35, 0.31) 82%,
      rgba(9, 16, 15, 0.14) 88%,
      rgba(3, 5, 5, 0.05) 94%,
      rgba(3, 4, 4, 0.03) 95%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
