@import "./../../../../../../styles/variables";

span {
  display: inline-block;
}

.inputs {
  &.equals {
    > .input-double {
      width: 0;
      opacity: 0;
    }

    > .input-single {
      display: inline-block;
    }
  }

  &.changed {
    .text {
      color: $light-grey;
    }
  }

  > .input-single {
    display: none;
  }
}
