@import "./../../../../../../styles/variables";

.value {
  &.changed {
    color: $light-grey;

    .text {
      color: $light-grey;
    }
  }
}

.text {
  background: none;
  outline: none;
  border: none;
}

.hidden {
  display: none;
}

span {
  display: inline-block;
}
