@import "../../../../../styles/variables";

label {
  display: block;
  color: $label-color;
  font-size: 12px;
  transform: perspective(100px) translateZ(0.001px);
}

.stat {
  display: flex;
  align-items: center;

  > .text {
    overflow: hidden;
    max-height: 38px;
  }
}
