@import "../../../../../styles/variables";

.error {
  color: $red;
}

.small {
  font-size: 12px;
  line-height: 12px;
}

.pointer {
  cursor: pointer;
}

.values {
  display: flex;
  justify-content: center;
  align-items: center;

  .confidence,
  .feedback {
    display: inline-flex;
    flex-direction: column;
    padding: 0 6px;
  }

  .confidence {
    .positive {
      color: lightgreen;
    }

    .negative {
      color: red;
    }
  }

  .feedback {
    .icons {
      height: 19px;
      cursor: pointer;

      .icon {
        width: 19px;
        height: 19px;
        font-size: 19px;
      }
    }
  }
}

::ng-deep {
  app-evaluate-item-price-prediction {
    .values {
      &:hover {
        app-currency-frame {
          .currency {
            background-color: rgba(170, 158, 130, 0.3);
            outline-style: solid;
            outline-width: 1px;
          }
        }
      }
    }
  }
}
