@import "../../../../../styles/variables";

::ng-deep app-market-item-search-bar {
  .highlight {
    background: $light-orange;
    font-weight: bold;
  }
}

.input-container {
  position: relative;
  display: flex;

  button {
    margin-left: $gutter-half;
    width: 120px;

    &.small {
      padding: 0;
      width: 50px;
    }
  }

  .filter {
    position: absolute;
    display: none;
    z-index: 2000;
    top: 35px;
    left: 0;
    right: 0;
    height: 240px;
    min-height: 30px;
    background: $black;
    border: 1px solid $brown;

    &.shown {
      display: block;
    }

    .entry {
      padding: $gutter $gutter * 2;

      &.group {
        font-weight: bold;
      }

      &.item {
        padding: $gutter $gutter * 2 $gutter $gutter * 3;
        cursor: pointer;

        &:hover {
          background: $light-brown;
        }
      }
    }
  }
}

.records {
  position: absolute;
  z-index: 2000;
  top: 35px;
  left: 0;
  right: 0;
  background: $black;
  border: 1px solid $brown;
}

.record {
  padding: $gutter $gutter * 2;
  cursor: pointer;

  &:hover {
    background: $light-brown;
  }
}
