<div mat-dialog-content>
    <mat-tab-group mat-stretch-tabs [dynamicHeight]="true" (selectedIndexChange)="onSelectedIndexChange($event)">
        <mat-tab label="General">
            <div class="content">
                <app-user-settings [settings]="settings"></app-user-settings>
            </div>
        </mat-tab>
        <mat-tab [label]="feature.name" *ngFor="let feature of features">
            <div class="content">
                <app-user-settings-feature-container [component]="feature.component" [settings]="settings">
                </app-user-settings-feature-container>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        Cancel
    </button>
    <button mat-button [mat-dialog-close]="settings">
        Save
    </button>
</div>