<div mat-dialog-content>
    <mat-tab-group mat-stretch-tabs [dynamicHeight]="true" (selectedIndexChange)="onSelectedIndexChange($event)">
        <mat-tab label="General">
            <div class="content">
                <app-user-settings-form [settings]="settings"></app-user-settings-form>
            </div>
        </mat-tab>
        <mat-tab [label]="feature.name" *ngFor="let feature of features">
            <div class="content">
                <app-user-settings-feature-container [component]="feature.component" [settings]="settings">
                </app-user-settings-feature-container>
            </div>
        </mat-tab>
        <mat-tab label="Help">
            <mat-card>
                <mat-label>FAQ</mat-label>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> Q.: How do i open the search in my default browser? </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>A.: Holding ctrl while clicking will open the link in the default browser.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> Q.: What does the graph represent? What is mode/mean/median?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>A.: The bar indicates the distribution of the item value. It basically groups the values by
                            value and counts them.<br>
                            The highest bar is the Mode. Also named 'most common value'. Mean is
                            the average. Median is the centered value of all values.</p>
                        <button mat-button
                            (click)="openUrl('https://academy.datawrapper.de/article/136-histogram-min-max-median-mean')">
                            Open 'How to read a Histogram Min Max Median Mean' by 'academy.datawrapper.de' </button>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> Q.: My screen turns black/white after toggling any feature. Why?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>A.: This is mostly caused by an disabled Aero / DWM. Therefore try enabling this windows
                            feature.<br>
                            As it's required to create transparent windows.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> Q.: The graphics are blurry/ graphic bug?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>A.: This is mostly caused by incompatible graphic drivers for the current chromium
                            version.<br>
                            Please run 'run-without-gpu.bat' in order to start the overlay without gpu support (hardware
                            acceleration). </p>
                    </mat-expansion-panel>
                    <!-- <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> Further information can be found in the user wiki </mat-panel-title>
                        </mat-expansion-panel-header>
                        <button mat-button (click)="openUrl('https://github.com/Kyusung4698/PoE-Overlay/wiki')">Open
                            Wiki</button>
                    </mat-expansion-panel> -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> Found a Bug? Or have a Suggestion? Please create an issue on GitHub
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <button mat-button (click)="openUrl('https://github.com/Kyusung4698/PoE-Overlay/issues')">Create
                            an
                            Issue</button>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> Love the project? Feel free to leave a donation. Thanks for your support!
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <button mat-button
                            (click)="openUrl('https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4S7UYESYQ6UHU&source=url')">
                            <mat-icon style="color: #ea4aaa">favorite</mat-icon>
                            Donate via PayPal
                        </button>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        Cancel
    </button>
    <button mat-button [mat-dialog-close]="settings">
        Save
    </button>
</div>