<div mat-dialog-content>
    <mat-tab-group mat-stretch-tabs [dynamicHeight]="true">
        <mat-tab label="General">
            <div class="content">
                <mat-form-field>
                    <mat-label>Language</mat-label>
                    <mat-select [(value)]="settings.language" (valueChange)="onLanguageChange()">
                        <mat-option *ngFor="let language of languages.keys" [value]="language">
                            {{languages.values[language]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>League</mat-label>
                    <mat-select [(value)]="settings.leagueId">
                        <mat-option *ngFor="let league of leagues$ | async" [value]="league.id">
                            {{league.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        Cancel
    </button>
    <button mat-button [mat-dialog-close]="settings">
        Save
    </button>
</div>