<div class="options">
  <mat-icon class="clickable" (click)="toggle$.next(!toggle$.value)">filter_list</mat-icon>
  <div class="popover" *ngIf="toggle$ | async">

    <!-- league -->
    <ng-container *ngIf="options.leagueId">
      <ng-container *ngIf="leagues$ | async as leagues">
        <span class="option" (wheel)="onLeaguesWheel($event, leagues)">
          {{ leagues[options.leagueId] }}
        </span>
      </ng-container>
    </ng-container>

    <!-- online -->
    <ng-container *ngIf="options.online; else offline">
      <span class="clickable" title="online" (click)="onToggleOnlineClick()">
        <mat-icon>wifi</mat-icon>
      </span>
    </ng-container>
    <ng-template #offline>
      <span class="clickable" title="offline" (click)="onToggleOnlineClick()">
        <mat-icon>wifi_off</mat-icon>
      </span>
    </ng-template>

    <!-- indexed -->
    <ng-container *ngIf="options.indexed">
      <span class="option" (wheel)="onIndexedWheel($event)">
        {{ options.indexed }}
      </span>
    </ng-container>

    <!-- reset -->
    <span class="clickable" title="reset" (click)="onResetClick()">
      <mat-icon>restore</mat-icon>
    </span>
  </div>
</div>