<mat-card>
    <mat-label>Evaluate Settings</mat-label>
    <mat-form-field>
        <mat-label>Display Currency</mat-label>
        <mat-select [(value)]="settings.evaluateCurrencyId">
            <mat-option *ngFor="let currency of currencies$ | async" [value]="currency.id">
                <span> {{currency.nameType}} </span>
            </mat-option>
        </mat-select>
    </mat-form-field>
    <app-accelerator label="Evaluate" [(value)]="settings.evaluateKeybinding">
    </app-accelerator>
</mat-card>
<mat-card>
    <mat-label>Evaluate Translate Settings</mat-label>
    <mat-form-field>
        <mat-label>Translated Item Language</mat-label>
        <mat-select [(value)]="settings.evaluateTranslatedItemLanguage">
            <mat-option *ngFor="let language of languages.keys" [value]="language">
                {{languages.values[language]}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <app-accelerator label="Evaluate Translate" [(value)]="settings.evaluateTranslatedKeybinding">
    </app-accelerator>
</mat-card>