@import "../../../../../styles/variables";

::ng-deep {
  html,
  body {
    height: 100%;
    color: $light-white;
    font-size: 14.3px;
    font-family: FontinSmallCaps;
  }

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb {
    display: none;
  }
}

.background {
  position: absolute;
  display: inline;
  max-width: 60vw;
}

.stash {
  color: $lime;
}

.name,
.item {
  display: inline-flex;
}

.item {
  flex-direction: row;
  line-height: 15px;
  background: $black-transparent;
  align-items: center;
  margin: 1px;

  .name {
    padding: $gutter $gutter;
    cursor: pointer;
  }
}

.grid {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;

  .inner {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .highlight {
    position: absolute;
    border: 2px solid $lime;
  }
}
