<div class="market-row">
    <div class="market-col">
        <app-market-input-range label="Wings Revealed" path="heist_filters.filters.heist_wings" [request]="request">
        </app-market-input-range>
    </div>
    <div class="market-col">
        <app-market-input-range label="Total Wings" path="heist_filters.filters.heist_max_wings" [request]="request">
        </app-market-input-range>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-range label="Escape Routes Revealed" path="heist_filters.filters.heist_escape_routes" [request]="request">
        </app-market-input-range>
    </div>
    <div class="market-col">
        <app-market-input-range label="Total Escape Routes" path="heist_filters.filters.heist_max_escape_routes" [request]="request">
        </app-market-input-range>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-range label="Reward Rooms Revealed" path="heist_filters.filters.heist_reward_rooms" [request]="request">
        </app-market-input-range>
    </div>
    <div class="market-col">
        <app-market-input-range label="Total Reward Rooms" path="heist_filters.filters.heist_max_reward_rooms" [request]="request">
        </app-market-input-range>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-range label="Area Level" path="heist_filters.filters.area_level" [request]="request">
        </app-market-input-range>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-range label="Lockpicking Level" path="heist_filters.filters.heist_lockpicking" [request]="request">
        </app-market-input-range>
    </div>
    <div class="market-col">
        <app-market-input-range label="Brute Force Level" path="heist_filters.filters.heist_brute_force" [request]="request">
        </app-market-input-range>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-range label="Perception Level" path="heist_filters.filters.heist_perception" [request]="request">
        </app-market-input-range>
    </div>
    <div class="market-col">
        <app-market-input-range label="Demolition Level" path="heist_filters.filters.heist_demolition" [request]="request">
        </app-market-input-range>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-range label="Counter-Thaum. Level" path="heist_filters.filters.heist_counter_thaumaturgy" [request]="request">
        </app-market-input-range>
    </div>
    <div class="market-col">
        <app-market-input-range label="Trap Disarmament Level" path="heist_filters.filters.heist_trap_disarmament" [request]="request">
        </app-market-input-range>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-range label="Agility Level" path="heist_filters.filters.heist_agility" [request]="request">
        </app-market-input-range>
    </div>
    <div class="market-col">
        <app-market-input-range label="Deception Level" path="heist_filters.filters.heist_deception" [request]="request">
        </app-market-input-range>
    </div>
</div>
<div class="market-row">
    <div class="market-col">
        <app-market-input-range label="Engineering Level" path="heist_filters.filters.heist_engineering" [request]="request">
        </app-market-input-range>
    </div>
</div>