@import "./styles/bootstrap";
@import "./styles/theme";
@import "./styles/material";
@import "./styles/poe";
@import "./styles/video-js";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  user-select: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.annotation-highlight {
  display: block;
  box-shadow: 0 0 5px #fff;
  will-change: box-shadow;
  animation: glowing 1100ms ease-in-out;

  @keyframes glowing {
    0% {
      box-shadow: 0 0 5px #fff;
    }
    50% {
      box-shadow: 0 0 10px #fff;
    }
    100% {
      box-shadow: 0 0 5px #fff;
    }
  }
}
